/*
Stylesheet for contact page
*/

#contact{
  background-image: url("../img/storefront.jpg");
  background-size: 100%;
  background-position: 30% 60%;
  padding: 2.5%;
  background-repeat: no-repeat;
  font-family: roboto;
  height: 100%;
  color: white;
  font-size: 1.5em;
}

#contact h1{
  text-align: center;
}

.wrapper{
  width: 35%;
  margin-left: 30%;
  border-radius: 6px;
  background: rgba(230, 230, 230, 0.2); 
  z-index: 1;
}

#info{
  background: #f8f8e6;	
  font-family: roboto;
  padding: 5%;
}

#info p{
  margin-left: 15%;  
}

#map{
  margin-right: 30%;
  float: right;
}

iframe{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#interior{
  margin-left: 10%;
  height: 300px;
  width: 70%;
  margin-top: 2%;
  background-image: url("../img/interior.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

input {
  display: block;
  padding: 12px 20px;
  margin-top: 2%;
  border: 2px solid black;
  border-radius: 2px;
  margin-left: 15%;
}

input:first-child{
  display: inline-block;  
}

#email{
  display: inline-block;
}

input[type=submit]{
  background: #f8f8e6;  
}

#questions{
  background-image: url("../img/furnace.JPG");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat; 
  width: 70%;
  float: left;
}

#subscription{
  background: pink;
  float: right;
}

#questions h1{
  text-align: center;
}

#comments{
  width: 20%;
  padding-bottom: 5em;
  display: inline-block;
}

footer{
  clear: both;	
}