/*
Stylesheet for home page/index
*/

#landing{
  background-image: url("../img/coffee_and_chokolate.JPG");
  background-size: 100%;
  background-position: center;
  padding-top: 30px;
  background-repeat: no-repeat;
  height: 350px;
}

#landing h1, #landing p{
  font-family: roboto;
  width: 35%;
  margin-left: 30%;
  text-align: center;
}

.cycle-slideshow{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border: 1px solid black;
}

.cycle-slideshow img{ 
  width: 100%;
  height: auto;
}

.cycle-pager { 
  text-align: center; 
  width: 100%; 
  z-index: 500; 
  position: absolute; 
  bottom: 10px; 
  overflow: hidden;
}

.cycle-pager span { 
    font-family: arial; 
    font-size: 50px; 
    width: 16px; 
    height: 16px; 
    display: inline-block; 
    color: #ddd; 
    cursor: pointer; 
}

#hero-items div{
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-top: 2%;
  margin-left: 17%; 
  font-family: roboto;
  border: 1px solid black;
}

#hero-items h1{
  position: relative;
  bottom: 0;
}

#fresh{
  background-image: url("../img/bitten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#gif{
  background-image: url("../img/vetsAdSmall.gif");  
  background-size: cover;
  background-repeat: no-repeat;
}

#mondays{
  background-image: url("../img/people.jpg");  
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  height: 350px;
  text-align: center;
}

#mondays h1{
  font-family: roboto;
  width: 35%;
  margin-left: 30%;
  clear: both;
}

#hero-items{  
}

#hero-items img{
  padding: 2%; 
}

